<section class="intro">
  <h1>
    My Agenda
  </h1>
  <p>
    <a href="/agenda/new"> Create a new agenda </a>
  </p>
  <p>
    Here is a list of all items in your agenda:
  </p>

  <div class="agendas">

  </div>
</section>
