<section class="intro">
  <h1>
    My Agenda
  </h1>
  <p>
    <a href="/agenda/new"> Create a new agenda </a>
  </p>

  <div class="agendas">
    <% unless @agendas.empty? %>
      <p>
        Here is a list of all items in your agenda:
      </p>
      <ul class="lists">
        <% @agendas.each do |agenda| %>
          <li class="<%= agenda.done %>">
            <%= agenda.name.capitalize %>
            <a href="/agenda/<%= agenda.id %>/edit">Edit</a>
            <a href="#"= id="<%= agenda.id %>" data-method="delete">
              Delete
            </a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>
        Sorry, you do not have any agenda created yet. Create a new agenda with the link above.
      </p>
    <% end %>
  </div>
</section>

<script>
  (function () {
    var makeDeleteReq = function () {
      var linkBtn = document.querySelector(".lists");

      linkBtn.addEventListener("click", function (e) {
        e.preventDefault();
        var clickedBtn = e.target,
            frag = document.createDocumentFragment(),
            formElem = document.createElement("form"),
            hiddenFormMethod = document.createElement("input"),
            formVal = document.createElement("input");

        formElem.action = "/agenda/" + clickedBtn.id;
        formElem.method = "post";

        hiddenFormMethod.type = "hidden";
        hiddenFormMethod.name = "_method";
        hiddenFormMethod.value = "delete";

        formVal.name = "agenda[id]"
        formVal.value = clickedBtn.id

        formElem.appendChild(hiddenFormMethod);
        formElem.appendChild(formVal);

        document.body.appendChild(frag.appendChild(formElem));

        promptUser = confirm("Do you really want to delete");

        if (promptUser) {
          formElem.submit();
          document.body.removeChild(formElem);
        } else {
          document.body.removeChild(formElem);
          return
        }
      }, false)


    };

    makeDeleteReq();
  }());
</script>
