<% if @agenda.done %>
  <% title =  "Uncheck to mark as not completed" %>
<% else %>
  <% title = "Check to mark as complete" %>
<% end %>
<section class="edit-agenda" style="font-family: sans-serif; color: #666">
  <h2 style="color: #555">Edit this agenda</h2>
  <form action="/agenda/<%= @agenda.id %>" method="POST">
    <input type="hidden" name="_method" value="put">
    <div class="group">
      <label for="agenda_name">Name: </label>
      <input type="text" name="agenda[name]", id="agenda_name" placeholder="Visit the eiffel tower" value="<%= @agenda.name %>" style="padding: 7px 12px; border-radius: 4px; border: 1px solid #999; outline: 0; display: block; margin: 10px 0; font-size: 14px" required>
    </div>

    <div class="group">
      <input type="checkbox" name="agenda[done]" id="agenda_done" value="true" title="<%= title %>" <%= "checked" if @agenda.done %>>
      <% if @agenda.done %>
        <label for="agenda_done">This task has been marked as complete!</label>
      <% else %>
        <label for="agenda_done">Mark as complete</label>
      <% end %>
    </div>

    <div class="group" style="margin: 10px 0">
      <button type="submit" style="background-color: #12a4e9; color: #fff; text-decoration: none; border: 0; padding: 7px 12px; cursor: pointer;">
        Update
      </button>
    </div>
  </form>

  <p>
    <a href="/" style="color: #12a4e9">
      Back to homepage
    </a>
  </p>
</section>
