<section class="create-agenda">
  <h2>Create a new Agenda</h2>
  <form action="/agenda/new" method="POST">
    <div class="group">
      <label for="agenda_name">Name: </label>
      <input type="text" name="agenda[name]", id="agenda_name" placeholder="Visit the eiffel tower" value="" required>
    </div>

    <div class="group">
      <button type="submit">
        Create
      </button>
    </div>
  </form>

   <p>
    <a href="/">
      Back to homepage
    </a>
  </p>
</section>
